body {

    background-color: #050505;

    color: #ff0000;

    font-family: "Courier New", monospace;

    margin: 20px;

    overflow-x: auto;

}



/* CONTAINER PRINCIPAL */

.container {

    max-width: 1200px;

    margin: auto;

}



/* CABEÇALHO / BANNER */

.cabecalho {

    min-height: 140px;

    display: block;

    padding: 20px 10px;

    box-sizing: border-box;

    text-align: left;

    color: #ff0000;

    font-family: "Courier New", monospace;

}


/* PISCAR DO BANNER */

@keyframes brilhoBanner {


    0% {

        opacity: 1;

        text-shadow:

        0 0 5px #ff0000,

        0 0 15px #ff0000;

    }


    50% {

        opacity: 0.5;

        text-shadow: none;

    }


    100% {

        opacity: 1;

        text-shadow:

        0 0 5px #ff0000,

        0 0 15px #ff0000;

    }

}



/* TEXTOS */

pre {

    font-family: "Courier New", monospace;

    font-size: 16px;

    white-space: pre;

    overflow-x: auto;

}



/* FILMES */

#movies {

    white-space: pre;

    overflow-x: auto;

}



/* PESQUISA */

input {

    background-color: #050505;

    color: #ff0000;

    border: 1px solid #ff0000;

    font-family: "Courier New", monospace;

    font-size: 16px;

    padding: 8px;

    width: 350px;

    max-width: 100%;

    box-sizing: border-box;

}



input::placeholder {

    color: #660000;

}



/* ESTRELAS */

.rating-star {

    color: #ff0000;

    cursor: pointer;

    display: inline-block;

}



.rating-star:hover {

    text-shadow:

    0 0 5px #ff0000,

    0 0 10px #ff0000,

    0 0 20px #ff0000;

}



/* BOTÕES CLICÁVEIS */


#exportar,
.show-all {

    cursor: pointer;

}



#exportar:hover,
.show-all:hover {


    text-shadow:

    0 0 5px #ff0000,

    0 0 10px #ff0000,

    0 0 20px #ff0000;


}



/* GARANTIR MÃOZINHA */

button,
a,
#exportar,
.show-all,
.rating-star {

    cursor: pointer;

}



/* CELULAR */
/* CELULAR */

@media(max-width:600px){


    body {

        margin: 10px;

    }


    .cabecalho {

        min-height: 120px;

        font-size: 13px;

        padding: 25px 5px;

    }


    pre {

        font-size: 12px;

    }


    input {

        width: 100%;

    }

}



/* REMOVE O BRILHO PRESO NO CELULAR */

@media (hover: none) and (pointer: coarse) {


    #exportar:hover,
    .show-all:hover,
    .rating-star:hover {

        text-shadow: none;
    }

}



















    
}
